
<div class="nav navbar-right">
	<ul class="nav nav-pills">
	    <li class="active"><a href="/clientes">Clientes</a></li>
	    <li><a href="/empleados">Empleados</a></li>
	    <li><a href="/proveedores">Proveedores</a></li>
	    <li><a href="/citas">Citas</a></li>
	    <li><a href="/servicios">Servicios</a></li>
	    <li><a href="/vehiculos">Vehiculos</a></li>
	    <li><a href="/compras">Compras</a></li>
	    <li><a href="/ventas">Ventas</a></li>
	    <li><a href="/productos">Productos</a></li>
	    <li><a href="/proveedores">Proveedores</a></li>
	</ul>
</div>